openapi: 3.1.0
info:
  title: Payout Payment API
  version: 1.0.0
  description: '[Do you have question? Ask us here](http://v2.zopim.com/widget/livechat.html?key=7IAyjGK9PAvKfARh6iqd9qv0WxXDxvjN)


    # Simple Pay Flow

    ![](https://statics.payout.one/Public_API_Simple_Pay_Flow.png)

    [See in full resolution](https://statics.payout.one/Public_API_Simple_Pay_Flow.png)


    If you want to use or implement our API, please contact us on tech@payout.one.


    # Production environment


    `https://app.payout.one`



    # Sandbox environment


    `https://sandbox.payout.one`


    Sandbox is for test purposes only.'
servers:
- url: https://app.payout.one
  description: Production
- url: https://sandbox.payout.one
  description: Sandbox
security:
- bearerAuth: []
x-sections:
  authentication: "# Authentification\n**Bearer**\n\nFor accessing the API a valid token must be passed\
    \ in all the queries in the 'Authorization' header. A valid token is generated in Admin section of\
    \ your account.\n\nThe following syntax must be used in the 'Authorization' header :\n\n    Bearer\
    \ <<token>>\n\nSo Authorization header can be like:\n\n    Authorization: Bearer SFMyNTY.g3QAAAACZAAEZGF0YWEBZAAGc2lnbmVkbgYA6GI88F0B.4O2JwKmEX90ZfuSQMOuiVN-Vy_5FirRKp9JU2Pub\n\
    \n### Errors\n\n401\n```\n{\n    \"errors\": \"Bad credentials. Check your credentials or contact\
    \ support.\"\n}\n```"
  errors: "### Errors\n\n401\n```\n{\n    \"errors\": \"Bad credentials. Check your credentials or contact\
    \ support.\"\n}\n```"
paths:
  /api/v1/authorize:
    post:
      summary: Authorize (receive API token)
      operationId: authorize_receive_api_token
      tags:
      - Authorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Missing or invalid bearer token
  /api/v1/checkouts:
    post:
      summary: Create checkout
      operationId: create_checkout
      tags:
      - Checkout
      description: 'This request create checkout for payment where customer will authorize payment method
        for transaction.


        To perform an idempotent request, provide an additional Idempotency-Key: <key> header to the request.
        An idempotency key is a unique value generated by the client which the server uses to recognize
        subsequent retries of the same request. How you create unique keys is up to you, but we suggest
        using v4 UUIDs, or another random string with enough entropy to avoid collisions.


        ### How to create the `signature`


        Signature is created by few steps. First step is to create string concatenated with character
        `|` by joining arguments in following order:


        1. `amount`

        2. `currency`

        3. `external_id`

        4. `nonce`

        5. `client_secret` (obtained from merchant''s API key)


        After this step we should have string that looks like this: `amount|currency|external_id|nonce|client_secret`


        Now, we use SHA256 hashing algorithm to hash this string and encode it using Base16. The signature
        is now complete and you can send it with the request.


        ### Checkout statuses:

        * `processing` - created payment form

        * `requires_capture` - additional authorization requested (if some qate way has additional authorization)

        * `successed` - from checkout created transaction

        * `expired` - no transaction has been created. Expires 1 hour after creation'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: Amount in cents (integer)
                  example: 1050
                currency:
                  type: string
                  description: Currency code by [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
                  example: EUR
                  maxLength: 3
                customer:
                  $ref: '#/components/schemas/Customer'
                  description: Required nested JSON structure with details about customer. See Section
                    with Customer attributes
                external_id:
                  type: string
                  description: Client order's ID or another ID for reference to reason of payment.
                  example: f0ac316a-9ea6-7998-01a7-720437afb34c
                  maxLength: 50
                idempotency_key:
                  type: string
                  description: Key uniq per request and user. It used for accepting request at most once.
                  example: 31f0ac6a-9ea6-01a7-7998-720437afb34c
                  maxLength: 50
                metadata:
                  type: object
                  description: Can be used for payment notation or also for internal use, for example
                    set origin of payment if merchant has more systems.
                  example:
                    source: eshop
                nonce:
                  type: string
                  description: Required random data so signature cant be reused
                  example: ZUc0Mk9sVXZDOXNsdklzMQ
                redirect_url:
                  type: string
                  description: URL where user will be redirected after payment form is filled
                  example: https://redirect-url-example.payout.one/payment/redirect
                  maxLength: 255
                signature:
                  type: string
                  description: Request signature
                  example: 5a940ff7f1698f5d334527951519c84fa104c77ecf6691936093835bcac14d52
              required:
              - amount
              - currency
              - customer
              - external_id
              - nonce
              - redirect_url
              - signature
            example:
              amount: '{{amount}}'
              currency: '{{currency}}'
              customer:
                first_name: John
                last_name: Doe
                email: john.doe@payout.one
              external_id: '{{external_id}}'
              nonce: '{{nonce}}'
              metadata:
                note: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                  Ipsum has been.
              redirect_url: '{{redirect_url}}'
              signature: '{{signature}}'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount:
                    type: number
                    description: Amount in cents
                    example: 1050.0
                  currency:
                    type: string
                    description: Currency code by [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
                    example: EUR
                  customer:
                    $ref: '#/components/schemas/Customer'
                    description: Customer details. See Section with Customer attributes
                  id:
                    type: number
                    description: Checkout ID
                    example: 1.0
                  external_id:
                    type: string
                    description: Client order's ID or another ID for reference to reason of payment.
                    example: f0ac316a-9ea6-7998-01a7-720437afb34c
                  idempotency_key:
                    type: string
                    description: Key uniq per request and user. It used for accepting request at most
                      once.
                    example: 31f0ac6a-9ea6-01a7-7998-720437afb34c
                  metadata:
                    type: object
                    description: Can be used for payment notation or also for internal use, for example
                      set origin of payment if merchant has more systems.
                    example: '{"type: "eshop"}'
                  nonce:
                    type: string
                    description: Required random data so signature cant be reused
                    example: ZUc0Mk9sVXZDOXNsdklzMQ
                  object:
                    type: string
                    description: Object type
                    example: checkout
                  redirect_url:
                    type: string
                    description: URL where user will be redirected after payment form is filled
                  signature:
                    type: string
                    description: Response signature
                    example: 5a940ff7f1698f5d334527951519c84fa104c77ecf6691936093835bcac14d52
                  status:
                    type: string
                    description: State of payment, for more information check States section
                    example: processing
                  checkout_url:
                    type: string
                    description: URL of payment form for users order. You should redirect user to this
                      URL.
                    example: https://app.payout.one/checkouts/je81r4AasdJJdsdsdBMb9Go6mRglpwdax
        '401':
          description: Missing or invalid bearer token
    get:
      summary: List checkouts
      operationId: list_checkouts
      tags:
      - Checkout
      description: You can use this request to retrieve list of checkouts.
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Missing or invalid bearer token
  /api/v1/checkouts/{checkout_id}:
    get:
      summary: Retrieve checkout
      operationId: retrieve_checkout
      tags:
      - Checkout
      description: 'You can use this request to retrieve information about specified checkout.


        ### How to verify the `signature`


        Signature is created by few steps. First step is to create string concatenated with character
        `|` by joining arguments in following order:


        1. `amount`

        2. `currency`

        3. `external_id`

        4. `nonce`

        5. `client_secret` (obtained from merchant''s API key)


        After this step we should have string that looks like this: `amount|currency|external_id|nonce|client_secret`


        Now, we use SHA256 hashing algorithm to hash this string and encode it using Base16. The signature
        is now complete and you can send it with the request.


        ### Checkout statuses:

        * `processing` - created payment form

        * `requires_capture` - additional authorization requested (if some qate way has additional authorization)

        * `successed` - from checkout created transaction

        * `expired` - no transaction has been created. Expires 1 hour after creation


        ### Payment statuses:

        * `pending` - this status should not create because the payment card is verified online

        * `successfull` - confirmation from acquier that the transaction was successful

        * `failed` - confirmation from acquier that the transaction was failed

        * `refunded` - transaction refund ( automatically via API)


        ### Bank stransfer statuses:

        * `in_transit` - created bank transfer

        * `successfull` - after reconciliation of the bank statement. (automatic matching)

        * `refunded` - transaction refund (manually via IS Payout)


        ### Funds statuses:

        * `pending` - processed transaction, payment affecting pending balance

        * `avaiable` - processed transaction, payment affecting avaiable balance'
      parameters:
      - name: checkout_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount:
                    type: number
                    description: Amount in cents
                    example: 1050.0
                  currency:
                    type: string
                    description: Currency code by [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
                    example: EUR
                  customer:
                    $ref: '#/components/schemas/Customer'
                    description: Customer details. See Section with Customer attributes
                  id:
                    type: number
                    description: Checkout ID
                    example: 1.0
                  external_id:
                    type: string
                    description: Client order's ID or another ID for reference to reason of payment.
                    example: f0ac316a-9ea6-7998-01a7-720437afb34c
                  idempotency_key:
                    type: string
                    description: Key uniq per request and user. It used for accepting request at most
                      once.
                    example: 31f0ac6a-9ea6-01a7-7998-720437afb34c
                  metadata:
                    type: object
                    description: Can be used for payment notation or also for internal use, for example
                      set origin of payment if merchant has more systems.
                    example: '{"type: "eshop"}'
                  nonce:
                    type: string
                    description: Required random data so signature cant be reused
                    example: ZUc0Mk9sVXZDOXNsdklzMQ
                  object:
                    type: string
                    description: Object type
                    example: checkout
                  payment:
                    $ref: '#/components/schemas/Payment'
                    description: Payment details. See Section with Payment Attributes
                  redirect_url:
                    type: string
                    description: URL where user will be redirected after payment form is filled
                  signature:
                    type: string
                    description: Response signature
                    example: 5a940ff7f1698f5d334527951519c84fa104c77ecf6691936093835bcac14d52
                  status:
                    type: string
                    description: State of payment, for more information check States section
                    example: processing
        '401':
          description: Missing or invalid bearer token
  /api/v1/withdrawals:
    post:
      summary: Create withdrawal
      operationId: create_withdrawal
      tags:
      - Withdrawals
      description: "Creates a withdrawal with specified arguments.\n\nTo perform an idempotent request,\
        \ provide an additional `Idempotency-Key: <key>` header to the request. \nAn idempotency key is\
        \ a unique value generated by the client which the server uses to recognize subsequent retries\
        \ of the same request. How you create unique keys is up to you, but we suggest using v4 UUIDs,\
        \ or another random string with enough entropy to avoid collisions.\n\n### How to create the `signature`\n\
        \nSignature is created by few steps. First step is to create string concatenated with character\
        \ `|` by joining arguments in following order:\n\n1. `amount`\n2. `currency`\n3. `external_id`\n\
        4. `iban`\n5. `nonce`\n6. `client_secret` (obtained from merchant's API key)\n\nAfter this step\
        \ we should have string that looks like this: `amount|currency|external_id|iban|nonce|client_secret`\n\
        \nNow, we use SHA256 hashing algorithm to hash this string and encode it using Base16. The signature\
        \ is now complete and you can send it with the request.\n\n### Withdrawal statuses:\n* `pending`\
        \ - manualy created withdrawal\n* `in_transit` - process withdrawal\n* `paid` - processed withdrawal"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: string
                  description: A positive number representing how much to charge in the smallest currency
                    unit (e.g. 100 cents to withdraw 1.00€)
                currency:
                  type: string
                  description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html),
                    in uppercase.
                external_id:
                  type: string
                  description: Identificator from your system.
                iban:
                  type: string
                  description: IBAN of the bank account, where the amount will be sent.
                customer:
                  type: string
                  description: Object containing customer's information.
                statement_descriptor:
                  type: string
                  description: Description that will appear on customer's statement
                nonce:
                  type: string
                  description: Random alpha-numeric string, which will be used when creating `signature`.
                    Max. 64 characters.
                signature:
                  type: string
                  description: Hash containing vital information about the withdrawal, that will confirm
                    authenticity of the request. Please refer to section below, if you want to know how
                    to create this signature.
              required:
              - amount
              - currency
              - external_id
              - iban
              - customer
              - nonce
              - signature
            example:
              amount: '{{amount}}'
              currency: '{{currency}}'
              external_id: '{{merchant_id}}'
              iban: '{{iban}}'
              customer:
                first_name: John1
                last_name: Doe2
                email: john.doe3@payout.one
              signature: '{{signature}}'
              nonce: '{{nonce}}'
              statement_descriptor: Simple statement description
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount:
                    type: number
                    description: Amount in cents
                    example: 1050.0
                  api_key_id:
                    type: string
                    description: API key ID
                    example: 35a4cb08-2aa1-4482-90d9-2023c0255fb3
                  created_at:
                    type: number
                    description: Timestamp
                    example: 1556049039.0
                  currency:
                    type: string
                    description: Currency code by [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
                    example: EUR
                  customer:
                    $ref: '#/components/schemas/Customer'
                    description: Customer details. See Section with Customer attributes
                  external_id:
                    type: string
                    description: Client order's ID or another ID for reference to reason of payment.
                    example: f0ac316a-9ea6-7998-01a7-720437afb34c
                  iban:
                    type: string
                    description: IBAN
                    example: SK01234567890
                  id:
                    type: number
                    description: Withdrawal ID
                    example: 1.0
                  nonce:
                    type: string
                    description: Required random data so signature cant be reused
                    example: ZUc0Mk9sVXZDOXNsdklzMQ
                  object:
                    type: string
                    description: Object type
                    example: withdrawal
                  signature:
                    type: string
                    description: Response signature
                    example: 5a940ff7f1698f5d334527951519c84fa104c
                  status:
                    type: string
                    description: State of payment, for more information check States section
                    example: pending
        '401':
          description: Missing or invalid bearer token
    get:
      summary: List withdrawals
      operationId: list_withdrawals
      tags:
      - Withdrawals
      description: You can use this request to retrieve list of withdrawals.
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Missing or invalid bearer token
  /api/v1/withdrawals/{withdrawal_id}:
    get:
      summary: Retrieve withdrawal
      operationId: retrieve_withdrawal
      tags:
      - Withdrawals
      description: 'You can use this request to retrieve information about specified withdrawal.


        ### How to verify the `signature`


        Signature is created by few steps. First step is to create string concatenated with character
        `|` by joining arguments in following order:


        1. `amount`

        2. `currency`

        3. `external_id`

        4. `iban`

        5. `nonce`

        6. `client_secret` (obtained from merchant''s API key)


        After this step we should have string that looks like this: `amount|currency|external_id|iban|nonce|client_secret`


        Now, we use SHA256 hashing algorithm to hash this string and encode it using Base16. The signature
        is now complete and you can send it with the request.


        ### Withdrawal statuses:

        * `pending` - manualy created withdrawal

        * `in_transit` - process withdrawal

        * `paid` - processed withdrawal'
      parameters:
      - name: withdrawal_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount:
                    type: number
                    description: Amount in cents
                    example: 1050.0
                  api_key_id:
                    type: string
                    description: API key ID
                    example: 35a4cb08-2aa1-4482-90d9-2023c0255fb3
                  created_at:
                    type: number
                    description: Timestamp
                    example: 1556049039.0
                  currency:
                    type: string
                    description: Currency code by [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
                    example: EUR
                  customer:
                    $ref: '#/components/schemas/Customer'
                    description: Customer details. See Section with Customer attributes
                  external_id:
                    type: string
                    description: Client order's ID or another ID for reference to reason of payment.
                    example: f0ac316a-9ea6-7998-01a7-720437afb34c
                  iban:
                    type: string
                    description: IBAN
                    example: SK01234567890
                  id:
                    type: number
                    description: Withdrawal ID
                    example: 1.0
                  nonce:
                    type: string
                    description: Required random data so signature cant be reused
                    example: ZUc0Mk9sVXZDOXNsdklzMQ
                  object:
                    type: string
                    description: Object type
                    example: withdrawal
                  signature:
                    type: string
                    description: Response signature
                    example: 5a940ff7f1698f5d334527951519c84fa104c
                  status:
                    type: string
                    description: State of payment, for more information check States section
                    example: pending
        '401':
          description: Missing or invalid bearer token
  /api/v1/refunds:
    post:
      summary: Refund payment
      operationId: refund_payment
      tags:
      - Refunds
      description: 'You can initiate refund process with this request. This marks given payment identified
        by `checkout_id` as refunded and creates withdrawal to original customer, you have to provide
        customer''s IBAN.


        ### How to verify the `signature`


        Signature is created by few steps. First step is to create string concatenated with character
        `|` by joining arguments in following order:


        1. `amount`

        2. `currency`

        3. `external_id`

        4. `iban`

        5. `nonce`

        6. `client_secret` (obtained from merchant''s API key)


        After this step we should have string that looks like this: `amount|currency|external_id|iban|nonce|client_secret`


        Now, we use SHA256 hashing algorithm to hash this string and encode it using Base16. The signature
        is now complete and you can send it with the request.


        ### Refund statuses:

        * `pending` - manualy created refund

        * `in_transit` - process refund

        * `paid` - processed refund'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                checkout_id:
                  type: string
                  description: An ID of Checkout received from webhook, after it's been successfuly paid
                    or after you retrieve successful Checkout object
                iban:
                  type: string
                  description: Customer's IBAN, where the funds will be sent.
                statement_descriptor:
                  type: string
                  description: Description which will appear on customer's statement
                nonce:
                  type: string
                  description: Random alpha-numeric string, which will be used when creating `signature`.
                    Max. 64 characters.
                signature:
                  type: string
                  description: Hash containing vital information about the refund, that will confirm authenticity
                    of the request. Please refer to section below, if you want to know how to create this
                    signature.
              required:
              - checkout_id
              - iban
              - statement_descriptor
              - nonce
              - signature
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount:
                    type: number
                    description: Amount in cents
                    example: 1050.0
                  api_key_id:
                    type: string
                    description: API key ID
                    example: 35a4cb08-2aa1-4482-90d9-2023c0255fb3
                  created_at:
                    type: number
                    description: Timestamp
                    example: 1556049039.0
                  currency:
                    type: string
                    description: Currency code by [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
                    example: EUR
                  customer:
                    $ref: '#/components/schemas/Customer'
                    description: Customer details. See Section with Customer attributes
                  external_id:
                    type: string
                    description: Client order's ID or another ID for reference to reason of payment.
                    example: f0ac316a-9ea6-7998-01a7-720437afb34c
                  iban:
                    type: string
                    description: IBAN
                    example: SK01234567890
                  id:
                    type: number
                    description: Withdrawal ID
                    example: 1.0
                  nonce:
                    type: string
                    description: Required random data so signature cant be reused
                    example: ZUc0Mk9sVXZDOXNsdklzMQ
                  object:
                    type: string
                    description: Object type
                    example: withdrawal
                  signature:
                    type: string
                    description: Response signature
                    example: 5a940ff7f1698f5d334527951519c84fa104c
                  status:
                    type: string
                    description: State of payment, for more information check States section
                    example: pending
        '401':
          description: Missing or invalid bearer token
  /api/v1/payment_methods:
    get:
      summary: List payment methods
      operationId: list_payment_methods
      tags:
      - Payment Methods
      description: You can use this request to retrieve list of withdrawals.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Missing or invalid bearer token
  /api/v1/balance:
    get:
      summary: Balance of current account
      operationId: balance_of_current_account
      description: Retrieves balance of current account. Keep in mind, that every API key belongs to a
        specific account.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Missing or invalid bearer token
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Token from POST /api/v1/authorize.
  schemas:
    Customer:
      type: object
      properties:
        first_name:
          type: string
          description: Customer first name
          example: John
          maxLength: 255
        last_name:
          type: string
          description: Customer surname
          example: Doe
          maxLength: 255
        email:
          type: string
          description: Customer email
          example: customer@payout.one
          maxLength: 255
      required:
      - email
      - first_name
      - last_name
    Payment:
      type: object
      properties:
        created_at:
          type: number
          description: Timestamp
          example: 1556049039.0
        failure_reason:
          type: string
          description: Payment failure reason
          example: insuffient funds
        fee:
          type: number
          description: Fee amount
          example: 30.0
        funds:
          type: string
          description: State of funds, for more information check Funds section
          example: available
        net:
          type: number
          description: Net is what remains after subtracting all fees
          example: 1020 funds
        object:
          type: string
          description: Object type
          example: bank_transfer
        payment_method:
          type: string
          description: Payment method name
          example: bank_transfer
        status:
          type: string
          description: State of payment, for more information check States section
          example: processing
